.Arena {
  display: flex;
  flex-grow: 1;
  width: 100%;
  box-sizing: content-box;
  overflow: auto;
  outline: none;
  user-select: none;
}

.Arena__wrap {
  margin: 12px auto;
}

.Arena__inner {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  border: solid 12px #eee;
  transform-origin: 0 0;
}
