.Arena {
  display: flex;
  /* justify-content: center; */
  max-width: 100%;
  overflow: auto;
  outline: none;
}

.Arena__inner {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  border: solid 1px #ccc;
  margin: 12px;
  user-select: none;
}
