.ArenaCell {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: default;
  font-size: 12px;
  touch-action: manipulation;
}

.ArenaCell_opened {
  border: solid 1px #ccc;
  font-weight: bold;
  border-right-width: 0;
  border-bottom-width: 0;
}

.ArenaCell_opened[data-neighbor-mines="1"] {
  color: #1600fb;
}

.ArenaCell_opened[data-neighbor-mines="2"] {
  color: #037e00;
}

.ArenaCell_opened[data-neighbor-mines="3"] {
  color: #fe0001;
}

.ArenaCell_opened[data-neighbor-mines="4"] {
  color: #060080;
}

.ArenaCell_opened[data-neighbor-mines="5"] {
  color: #830000;
}

.ArenaCell_opened[data-neighbor-mines="6"] {
  color: #008080;
}

.ArenaCell_opened[data-neighbor-mines="7"] {
  color: #000000;
}

.ArenaCell_opened[data-neighbor-mines="8"] {
  color: #808080;
}

.ArenaCell_closed {
  border: outset 2px #fff;
  background-color: #ccc;
}

.ArenaCell_pressed {
  border-color: transparent;
}